In [524]:
#Importo las librerías. 
import pandas as pd
import numpy as np

In [525]:
#Importo el CVS.
df = pd.read_csv("worldcup2014.csv")
df

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1
5,Chile,southamerica,B,2,3,2,0,1,5,3,2,6,1
6,Spain,europe,B,3,3,1,0,2,4,7,−3,3,0
7,Australia,asia,B,4,3,0,0,3,3,9,−6,0,0
8,Colombia,southamerica,C,1,3,3,0,0,9,2,7,9,1
9,Greece,europe,C,2,3,1,1,1,2,4,−2,4,1
10,Ivory Coast,africa,C,3,3,1,0,2,4,5,−1,3,0
11,Japan,asia,C,4,3,0,1,2,2,6,−4,1,0
12,Costa Rica,northamerica,D,1,3,2,1,0,4,1,3,7,1
13,Uruguay,southamerica,D,2,3,2,0,1,4,4,0,6,1
14,Italy,europe,D,3,3,1,0,2,2,3,−1,3,0
15,England,europe,D,4,3,0,1,2,2,4,−2,1,0
16,France,europe,E,1,3,2,1,0,8,2,6,7,1
17,Switzerland,europe,E,2,3,2,0,1,7,6,1,6,1
18,Ecuador,southamerica,E,3,3,1,1,1,3,3,0,4,0
19,Honduras,northamerica,E,4,3,0,0,3,1,8,−7,0,0
20,Argentina,southamerica,F,1,3,3,0,0,6,3,3,9,1
21,Nigeria,africa,F,2,3,1,1,1,3,3,0,4,1
22,Bosnia and Herzegovina,europe,F,3,3,1,0,2,4,4,0,3,0
23,Iran,asia,F,4,3,0,1,2,1,4,−3,1,0
24,Germany,europe,G,1,3,2,1,0,7,2,5,7,1
25,United States,northamerica,G,2,3,1,1,1,4,4,0,4,1
26,Portugal,europe,G,3,3,1,1,1,4,7,−3,4,0
27,Ghana,africa,G,4,3,0,1,2,4,6,−2,1,0
28,Belgium,europe,H,1,3,3,0,0,4,1,3,9,1
29,Algeria,africa,H,2,3,1,1,1,6,5,1,4,1
30,Russia,europe,H,3,3,0,2,1,2,3,−1,2,0
31,South Korea,asia,H,4,3,0,1,2,3,6,−3,1,0

In [526]:
df.shape

(32, 13)

In [527]:
conteo_continentes= df['continent'].value_counts()
conteo_continentes

europe          13
southamerica     6
africa           5
northamerica     4
asia             4
Name: continent, dtype: int64

In [528]:
#1. Considerando el experimento de seleccionar un país participante al azar, se pide determinar las probabilidades de los siguientes sucesos:

In [529]:
conteo_africa= df['continent'].value_counts()['africa']
conteo_asia= df['continent'].value_counts()['asia']
conteo_europa= df['continent'].value_counts()['europe']
conteo_na= df['continent'].value_counts()['northamerica']
conteo_sa= df['continent'].value_counts()['southamerica']

In [530]:
total= conteo_africa + conteo_asia + conteo_europa + conteo_na + conteo_sa
total

32

In [531]:
#a. pertenecer a África
p_africa = conteo_africa/total
p_africa

0.15625

In [532]:
#b. pertenecer a Asia
p_asia = conteo_asia/total
p_asia

0.125

In [533]:
#c. pertenecer a Europa
p_europa = conteo_europa/total
p_europa

0.40625

In [534]:
#d. pertenecer a Norteamérica
p_na = conteo_na/total
p_na

0.125

In [535]:
#e. pertenecer a Sudamérica
p_sa = conteo_sa/total
p_sa

0.1875

In [536]:
#f. clasificar a segunda ronda
clasificado= df['clasificado'].value_counts()[1]
clasificado

16

In [537]:
segunda_ronda= clasificado/total
segunda_ronda

0.5

In [538]:
#g. ganar al menos un partido
df['juegos_ganados'].value_counts()

1    11
0     9
2     8
3     4
Name: juegos_ganados, dtype: int64

In [539]:
ganan = df['juegos_ganados'] > 0
ganan.sum()

23

In [540]:
ganar= ganan.sum()/total
ganar

0.71875

In [541]:
#h. pertenecer a África y clasificar a segunda ronda
ser_africa= df['continent'] == 'africa'
ser_clasificado = df["clasificado"] == 1

In [542]:
africa_segunda_ronda = (ser_africa & ser_clasificado).sum()
africa_segunda_ronda

2

In [543]:
p_africa_clasificar = africa_segunda_ronda/total
p_africa_clasificar

0.0625

In [544]:
#i. pertenecer a Europa y clasificar a segunda ronda
ser_europa= df['continent'] == 'europe'
ser_clasificado = df["clasificado"] == 1

In [545]:
europa_segunda_ronda = (ser_europa & ser_clasificado).sum()
europa_segunda_ronda

6

In [546]:
p_europa_clasificar = europa_segunda_ronda/total
p_europa_clasificar

0.1875

In [547]:
sum(ser_europa & ser_clasificado) / 32

0.1875

In [548]:
#j. pertenecer a Asia y clasificar a segunda ronda
ser_asia= df['continent'] == 'asia'
ser_clasificado = df["clasificado"] == 1

In [549]:
asia_segunda_ronda = (ser_asia & ser_clasificado).sum()
asia_segunda_ronda

0

In [550]:
p_asia_clasificar = asia_segunda_ronda/total
p_asia_clasificar

0.0

In [551]:
#k. pertenecer a Sudamérica y clasificar a segunda ronda
ser_sa= df['continent'] == 'southamerica'
ser_clasificado = df["clasificado"] == 1

In [552]:
sa_segunda_ronda = (ser_sa & ser_clasificado).sum()
sa_segunda_ronda

5

In [553]:
p_sa_clasificar = sa_segunda_ronda/total
p_sa_clasificar

0.15625

In [554]:
#l. pertenecer a Norteamérica y clasificar a segunda ronda
ser_na= df['continent'] == 'northamerica'
ser_clasificado = df["clasificado"] == 1

In [555]:
na_segunda_ronda = (ser_na & ser_clasificado).sum()
na_segunda_ronda

3

In [556]:
p_na_clasificar = na_segunda_ronda/total
p_na_clasificar

0.09375

In [557]:
#m. pertenecer a África o clasificar a segunda ronda
ser_africa = df['continent'] == 'africa'
ser_clasificado = df['clasificado'] == 1

In [558]:
africa_o_clasificado = (ser_africa | ser_clasificado).sum()
africa_o_clasificado

19

In [559]:
p_africaoclasificar = africa_o_clasificado/total
p_africaoclasificar

0.59375

In [560]:
#n. pertenecer a Europa o clasificar a segunda ronda
ser_europa= df['continent'] == 'europe'
ser_clasificado = df["clasificado"] == 1

In [561]:
europa_o_clasificado = (ser_europa | ser_clasificado).sum()
europa_o_clasificado

23

In [562]:
p_europaoclasificar = europa_o_clasificado/total
p_europaoclasificar

0.71875

In [563]:
#o. pertenecer a Asia o clasificar a segunda ronda
ser_asia= df['continent'] == 'asia'
ser_clasificado = df["clasificado"] == 1

In [564]:
asia_o_clasificado = (ser_asia | ser_clasificado).sum()
asia_o_clasificado

20

In [565]:
p_asiaoclasificar = asia_o_clasificado/total
p_asiaoclasificar

0.625

In [566]:
#p. pertenecer a Sudamérica o clasificar a segunda ronda
ser_sa= df['continent'] == 'southamerica'
ser_clasificado = df["clasificado"] == 1

In [567]:
sa_o_clasificado = (ser_sa | ser_clasificado).sum()
sa_o_clasificado

17

In [568]:
p_saoclasificar = sa_o_clasificado/total
p_saoclasificar

0.53125

In [569]:
#q. pertenecer a Norteamérica o clasificar a segunda ronda
ser_na= df['continent'] == 'northamerica'
ser_clasificado = df["clasificado"] == 1

In [570]:
na_o_clasificado = (ser_na | ser_clasificado).sum()
na_o_clasificado

17

In [571]:
p_naoclasificar = na_o_clasificado/total
p_naoclasificar

0.53125

In [572]:
#r. pertenecer a África y haber ganado al menos un partido
ser_africa = df['continent'] == 'africa'
ganan = df['juegos_ganados'] >= 1

In [573]:
africa_ganar = (ser_africa & ganan).sum()
africa_ganar

3

In [574]:
p_africa_ganar = africa_ganar / total
p_africa_ganar

0.09375

In [575]:
#s. pertenecer a Europa y haber ganado al menos un partido
ser_europa = df['continent'] == 'europe'
ganan = df['juegos_ganados'] >= 1

In [576]:
europa_ganar = (ser_europa & ganan).sum()
europa_ganar

11

In [577]:
p_europa_ganar = europa_ganar / total
p_europa_ganar

0.34375

In [578]:
#t. pertenecer a Asia y haber ganado al menos un partido
ser_asia = df['continent'] == 'asia'
ganan = df['juegos_ganados'] >= 1

In [579]:
asia_ganar = (ser_asia & ganan).sum()
asia_ganar

0

In [580]:
p_asia_ganar = asia_ganar / total
p_asia_ganar

0.0

In [581]:
#u. pertenecer a Sudamérica y haber ganado al menos un partido
ser_sa = df['continent'] == 'southamerica'
ganan = df['juegos_ganados'] >= 1

In [582]:
sa_ganar = (ser_sa & ganan).sum()
sa_ganar

6

In [583]:
p_sa_ganar = sa_ganar / total
p_sa_ganar

0.1875

In [584]:
#v. pertenecer a Norteamérica y haber ganado al menos un partido
ser_na = df['continent'] == 'northamerica'
ganan = df['juegos_ganados'] >= 1

In [585]:
na_ganar = (ser_na & ganan).sum()
na_ganar

3

In [586]:
p_na_ganar = na_ganar / total
p_na_ganar

0.09375

In [587]:
#w. haber ganado al menos un partido y clasificar a segunda ronda
ganan = df['juegos_ganados'] >= 1
clasificado = df['clasificado'] == 1

In [588]:
ganado_clasificado = (ganado & clasificado).sum()

In [589]:
p_ganado_clasificado = ganado_clasificado / total
p_ganado_clasificado

0.5

In [590]:
#Modo avreviado: 
p_ganado_clasificado = sum(ganado & clasificado) / 32
p_ganado_clasificado

0.5

In [591]:
#2. A partir de las probabilidades anteriores, y sin realizar conteos, calcular las siguientes probabilidades:

In [592]:
#a. pertenecer a Europa, si se sabe que clasificó
p_europa_dado_clasificar = p_europa_clasificar/segunda_ronda
p_europa_dado_clasificar

0.375

In [593]:
#b. pertenecer a Sudamérica, si se sabe que clasificó
p_sa_dado_clasificar = p_sa_clasificar/segunda_ronda
p_sa_dado_clasificar

0.3125

In [594]:
#c. pertenecer a África, si se sabe que ganó al menos un partido
p_africa_dado_ganar = p_africa_ganar/ganar
p_africa_dado_ganar

0.13043478260869565

In [595]:
#d. haber ganado al menos un partido, si se sabe que clasificó
ganar_clasificar = p_ganado_clasificado/segunda_ronda
ganar_clasificar

1.0

In [596]:
#e. haber ganado al menos un partido, si se sabe que pertenece a Norteamérica
p_ganan_ser_na = na_ganar / conteo_na
p_ganan_ser_na

0.75

In [597]:
#f. NO haber clasificado, si se sabe que pertenece a África
p_no_clasificar_africa = (1 - p_africa_clasificar) / p_africa
p_no_clasificar_africa

6.0